/* 
  bg-color: rgb(234 237 240)
  text-color: black
  blue: rgb(76 100 242)
  light-blue: rgb(128 176 255)
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 70px;
}

body {
  padding: 16px;
  font-family: "Inter", sans-serif;
  background-color: rgb(226 182 140);
}

h1 {
	font-size: 20px;
	color: white;
  text-transform: uppercase;
}

input {
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.favorites {
  position: relative;
  left: 25rem;
  top: 5.6rem;
  background-color: unset;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .favorites {
    position: relative;
    left: 18rem;
  }
}

select#language-select {
  width: 60%;
  height: 50px;
  border-radius: 1rem;
}

.lang-button {
    padding: 2rem;
    font-size: 1.5rem;
    font-family: math;
}

#language-select option:nth-child(even) {
  background-color: #e8e8e8;
}

#language-select option:nth-child(odd) {
  background-color: #ffffff;
}

/* Larghezza della scrollbar */
#language-select::-webkit-scrollbar {
    width: 12px;
}

/* Colore dello sfondo della scrollbar */
#language-select::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Colore del cursore (pollice) */
#language-select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px; /* Per angoli arrotondati */
}

/* Colore del cursore al passaggio del mouse */
#language-select::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.reset-button, .random-button {
  padding: 8px 16px;
  background-color: rgb(128 176 255);
  font-size: 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

i.fa-solid.fa-dice {
  color: red;
  position: relative;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.container {
  max-width: 520px;
  margin: 0 auto;
}

.panel {
  background-color: rgb(76 100 242);
  padding: 16px;
  border-radius: 16px;
}

.translation {  
  background-color: white;
  margin-bottom: 16px;
}

.ar-bg {
  background-image: url(images/bandiera_araba.jpg);
  background-position: center;
  background-size: cover;
}

.bg-bg {
  background-image: url(images/bandiera_bulgara.jpg);
  background-position: center;
  background-size: cover;
}

.cs-bg {
  background-image: url(images/bandiera_ceca.jpg);
  background-position: center;
  background-size: cover;
}

.zh-bg {
  background-image: url(images/bandiera_cinese.jpg);
  background-position: center;
  background-size: cover;
}

.hr-bg {
  background-image: url(images/bandiera_croata.jpg);
  background-position: center;
  background-size: cover;
}

.da-bg {
  background-image: url(images/bandiera_danese.jpg);
  background-position: center;
  background-size: cover;
}

.et-bg {
  background-image: url(images/bandiera_estone.jpg);
  background-position: center;
  background-size: cover;
}

.fr-bg {
  background-image: url(images/bandiera_francese.jpg);
  background-position: center;
  background-size: cover;
}

.fi-bg {
  background-image: url(images/bandiera_finlandese.jpg);
  background-position: center;
  background-size: cover;
}

.ja-bg {
  background-image: url(images/bandiera_giapponese.jpg);
  background-position: center;
  background-size: cover;
}

.el-bg {
  background-image: url(images/bandiera_greca.jpg);
  background-position: center;
  background-size: cover;
}

.en-bg {
  background-image: url(images/bandiera_americana.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.ga-bg {
  background-image: url(images/bandiera_irlandese.jpg);
  background-position: center;
  background-size: cover;
}

.lt-bg {
  background-image: url(images/bandiera_lituana.jpg);
  background-position: center;
  background-size: cover;
}

.mt-bg {
  background-image: url(images/bandiera_maltese.jpg);
  background-position: center;
  background-size: cover;
}

.no-bg {
  background-image: url(images/bandiera_norvegese.jpg);
  background-position: center;
  background-size: cover;
}

.nl-bg {
  background-image: url(images/bandiera_olandese.jpg);
  background-position: center;
  background-size: cover;
}

.pl-bg {
  background-image: url(images/bandiera_polacca.jpg);
  background-position: center;
  background-size: cover;
}

.pt-bg {
  background-image: url(images/bandiera_portoghese.jpg);
  background-position: center;
  background-size: cover;
}

.ro-bg {
  background-image: url(images/bandiera_rumena.jpg);
  background-position: center;
  background-size: cover;
}

.ru-bg {
  background-image: url(images/bandiera_russa.jpg);
  background-position: center;
  background-size: cover;
}

.sk-bg {
  background-image: url(images/bandiera_slovacca.jpg);
  background-position: center;
  background-size: cover;
}

.sl-bg {
  background-image: url(images/bandiera_slovena.jpg);
  background-position: center;
  background-size: cover;
}

.es-bg {
  background-image: url(images/bandiera_spagnola.jpg);
  background-position: center;
  background-size: cover;
}

.sv-bg {
  background-image: url(images/bandiera_svedese.jpg);
  background-position: center;
  background-size: cover;
}

.de-bg {
  background-image: url(images/bandiera_tedesca.jpg);
  background-position: center;
  background-size: cover;
}

.tr-bg {
  background-image: url(images/bandiera_turca.jpg);
  background-position: center;
  background-size: cover;
}

.hu-bg {
  background-image: url(images/bandiera_ungherese.jpg);
  background-position: center;
  background-size: cover;
}

.translate {
  position: relative;
  top: 1.2rem;
}

.translation-result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.translation-text {
  font-size: 32px;
}

.translation-flag {
  position: absolute;
  font-size: 32px;
}



.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.text-input {
  width: 100%;
}

li {
  list-style: none;
}

.translate-favorites {
  position: relative;
  top: 1rem;
}

.remove-translate {
  padding-top: inherit;
  margin-top: 1rem;
  display: block;
  position: relative;
}

p.text {
  color: white;
  font-family: serif;
}

.btn {
  display: flex;
  justify-content: center;
}

button#remove-selected-button {
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #f74c4c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

button#remove-selected-button:hover {
  filter: drop-shadow(2px 2px 20px rgb(226 182 140));
}

.selected {
  background-color: #f7d7d7;
}